/*  BASE STYLES */

body {
  font:
}

input[type="text"] {
  border: solid 1px #000;
  padding: 8px 18px;
  font-size: 18px;
}

button {
  border: none;
  background: #000;
  border-radius: 3px;
  color: #fff;
  padding: 4px 12px;


}

fieldset {
  padding: 20px;
}

thead {
  background: #999;
}

td, th {
  border: solid 1px #000;

}
